@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: #87CEEB;
  --green: #98FB98;
  --redWeak: #FFB6C1;
  --redWeakDarker: #DAAEB6;
  --redStrong: #E51A0F;
  --redMid: #FF3131;
  --greenStrong: #008000;
  --black: #000000;
  --blackOpacity: rgba(0, 0, 0, 0.5);
  --sage: #CCC9A1;
  --sageOpacity: rgba(204, 201, 161, 0.3);
  --greenWeak: #F0FFCE;
  --lightBlue: #E4D9FF;
  --whiteSmoke: #F4F4F4;
  --buttonBlue: #007bff;
  --lightGray: #D3D3D3;
  --gray: #808080;
  --grayOpacity: rgba(128, 128, 128, 0.3);
  --grayPlaceholder: rgba(128, 128, 128, 0.5);
  --buttonHover: rgba(255, 255, 255, 0.7);
  --box-shadow: rgba(0, 0, 0, 0.2);

  --mainFont: 'Poppins', sans-serif;
  --mainFontWeight: 400;
  --titleFontWeight: 600;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
  font-weight: var(--mainFontWeight);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  background: var(--whiteSmoke);
  min-height: 80vh;
  font-family: var(--mainFont);
  font-weight: var(--mainFontWeight);
}

.hide {
  display: none !important;
}